* {
  margin: 0;
  padding: 0;
}

.bck {
  background-image: url('/src/style/bck.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.login {
  align-items: center;
  background-color:#560090;
  border-radius: 10px;
  box-shadow: 0 1.5px 0.5em #560090;
  color: #140021;
  display: flex;
  flex-direction: column;
  font-family: 'Krona One';
  font-size:45px;
  gap: 30px;
  height: 16rem;
  margin-right: 8%;
  padding: 60px;
  width: 25rem;
}

.title {
  display: flex;
  gap: 15px;
}

.walletIconTitle {
  transform: rotate(-35deg)
}

.walletIconTitle:hover {
  transform: rotate(0deg)
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-login input {
  outline: none;
  height: 30px;
  /* opacity: 50%; */
  width: 250px;
}

.form-login button {
  height: 32px;
  width: 100px;
  color:#140021;
}

.form-login button:hover {
  font-size: 15px;
  height: 35px;
  width: 105px;
}

footer {
  align-items: center;
  bottom: 1.5%;
  color: whitesmoke;
  /* color:#320b50; */
  display: flex;
  font-family: 'Krona One';
  font-size: small;
  gap: 5px;
  left: 50%;
  position: absolute;
  opacity: 45%;
}