.all-info {
  gap: 10px;
  background-color: #140021;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.logo {
  color:whitesmoke;
  font-size: 3rem;
  font-family: 'Krona One';
  margin-left: 20%;
}

.logo-clientInfo {
  align-items: center;
  display: flex;
  height: 20%;
  justify-content: space-between;
  margin-right: 110px;
  max-width: 99%;
}

.header {
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid #560090;
  /* box-shadow: 0 3px 1em black; */
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 25px;
}

.walletIcon {
color:whitesmoke; 
transform: rotate(-35deg)
}

.walletIcon:hover {
  transform: rotate(0deg)
  }

  
.p {
display: flex;
gap: 15px;
align-items: center;
}


.headerValue {
  display: flex;
  gap: 10px;
}

.walletHeader {
  margin-right: 5%;
}

.option-table {
  align-content: center;
  display: flex;
  min-height: 79.5%;
}

.div-form {
  display: flex;
  min-height: 79.5%;
  margin-left: 2.5%;
  padding: 2%; 
}

.options {
  align-content: center;
  background-color:#682694;
  border-radius: 15px;
  box-shadow: 0 3px 1em black;
  color: #140021;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 8%;
  height: 73%;
  padding: 30px;
}

.options p {
  font-size: 25px;
  font-family: 'Krona One';
  margin-top: 1%;
  text-align: center;
}

.options button {
  margin-left: 45px;
  margin-top: 1.5%;
  /* opacity: 50%; */
  padding: 8px;
  width: 180px;
}

.options button:hover {
  font-size: 15px;
  height: 35px;
  width: 190px;
}

.options input {
  display: flex;
  flex-direction: column;
  height: 30px;
  /* opacity: 50%; */
  width: 195px;
}

.options select {
  display: flex;
  flex-direction: column;
  height: 33px;
  /* opacity: 50%; */
  padding: 6px;
  width: 200px;
}

.options .value-coin {
  display: flex;
  gap: 10px;
}

.options .value-coin #coin {
  width: 70px;
}

.div-table {
  display: flex;
  width: 100%;
}

.table {
  border-radius: 10px;
  color: whitesmoke;
  padding: 2%;
  width: 90%;
} 

thead {
  background-color:#682694;
  border-radius: 10px;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 2%;
}

tr {
  background-color:#682694;
  border-radius: 10px;
  height: 50px;
  margin-top: 10px;
  width: 100%;
}

th {
  padding: 5px;
  width: 11%;
}

td {
  background-color:#682694;
  border-radius: 10px;
  max-width: 150px;
  padding: 5px;
  text-align: center;
  width: 5%;
}

tbody {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap:10px;
  width: 100%;
}