@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Bungee+Inline&family=Krona+One&display=swap');

body {
  /* background-image: url('/src/style/bck.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0; */
  font-family: 'Alatsi', sans-serif, 'Bungee Inline', cursive, 'Krona One', sans-serif;
}